<div class="Page-byline">
    {{~#if datePublished~}}
        <div class="Page-datePublished">{{~datePublished~}}{{~#if authorName~}}&nbsp;&bull;&nbsp;{{~/if~}}</div>
    {{~/if~}}
    <div class="Page-authors">
        {{#if authorImage}}
            {{#set imageSize="small-square"}}
                {{~#if authorUrl~}}<a class="Page-authors-image" href="{{authorUrl}}">{{~/if~}}{{~include "/image/Image.hbs" this alt=authorName image=authorImage}}{{~#if authorUrl~}}</a>{{~/if~}}
            {{/set}}
        {{/if}}
        {{#if authorName}}
            {{~#if authorUrl~}}<a href="{{authorUrl}}">{{~/if~}}{{~#with authorName~}}<span>{{~this~}}</span>{{~/with~}}{{~#if authorUrl~}}</a>{{~/if~}}{{~#if contributors~}},&nbsp;{{~/if~}}
            {{~#with contributors~}}{{~#each this~}}<span>{{~this~}}</span>{{~#unless @last~}},&nbsp;{{~/unless~}}{{~/each~}}{{~/with~}}
        {{/if}}
    </div>
</div>
