<div class="GallerySlide" data-slide-index="{{slideNumber}}">
    <div class="GallerySlide-media">
        {{#with mediaContent}}
            {{#set imageSize=(fallback (get "imageSize") "xl-1440h-notfixed") lazyLoad=false}}
                {{this}}
            {{/set}}
        {{/with}}
    </div>
    <div class="GallerySlide-content">
        {{#with infoTitle}}
            <div class="GallerySlide-title">{{this}}</div>
        {{/with}}
        {{#with infoDescription}}
            <div class="GallerySlide-description">{{this}}</div>
        {{/with}}

        {{#with infoAttribution}}
            <div class="GallerySlide-attribution">{{this}}</div>
        {{/with}}
    </div>
</div>
