<div class="PageListF" data-module{{include "includes/PageList-attributes.hbs" this}}>
   
    <div class="PageListF-container">
         <div class="PageListF-promo">
        <div></div>
        <div class="PageListF-promo__wrapper">
        <h3 class="PageListF-promo__title">{{promo.title}}</h3>
        <span class="PageListF-promo__date">{{promo.date}}</span>
        </div>
        <a href="#" class="PageListF-promo__link">{{promo.link}}</a>
      </div>
      <div class="PageListF-column">
        <img src="https://picsum.photos/id/149/200" alt="" class="PageListF-column__img">
      </div>
      <div class="PageListF-column">
        <img src="https://picsum.photos/id/206/200" alt="" class="PageListF-column__img">
      </div>
      <h4 class="PageListF__title">{{title}}</h4>
    </div>
</div>

