{{#if articles}}
<div class="PageListB" data-module{{include "includes/PageList-attributes.hbs" this}}>
    {{include "includes/PageList-header.hbs" this}}
    <h3 class="subtitle">Lorem Ipsom Dolsot</h3>

    <div class="PageListB-articles">
        {{#each articles}}
          <div class="PageListB-card">
            <div class="PageListB-card__header">
              <img src="https://picsum.photos/200" alt="" class="PageListB-card__poster">
            </div>
             <div class="PageListB-card__body">
               <div class="crumbs">
                 {{#each this.crumbs}}
                   <span class="crumbs__item {{#if @last}}crumbs__item_alt{{/if}}">{{this}}  {{#if @first}}/{{/if}} </span>
                 {{/each}}
               </div>

              {{#with this.title}}
                <h2 class="PageListB-card__title">{{this}}</h2>
              {{/with}}
              {{#with this.subtitle}}
                <h3 class="PageListB-card__subtitle">{{this}}</h3>
              {{/with}}
              {{#with this.button}}
                <button type="button" class="PageListB-card__button">{{this}}</button>
              {{/with}}
              {{#with this.description}}
                <p class="PageListB-card__description">{{this}}</p>
              {{/with}}
            </div>
          </div>
        {{/each}}
    </div>
</div>
{{/if}}
