<div class="CarouselSlide" {{extraAttributes}}>
    <div class="CarouselSlide-media">
        {{#each mediaContent}}
            {{#set imageSize="large-16x9"}}
                {{#set lazyLoad=false}}
                    {{include "/image/Image.hbs" this}}
                {{/set}}
            {{/set}}
        {{/each}}
    </div>
    <div class="CarouselSlide-info">
        <span class="CarouselSlide-slideCount"><span class="CarouselSlide-currentSlide">{{add slideNumber 1}}</span>/<span class="CarouselSlide-slidesLength">{{numberOfSlides}}{{#if infoTitle}}:&nbsp;{{/if}}</span></span>{{~#with infoTitle~}}<span class="CarouselSlide-infoTitle">{{~this~}}</span>{{~/with~}}
        {{~#if infoAttribution~}}<div class="CarouselSlide-infoAttribution">{{~infoAttribution~}}</div>{{~/if~}}
    </div>
</div>
